CircularProgressViewSample.xcodeproj/project.xcworkspace/xcuserdata/Mango.xcuserdatad
CircularProgressViewSample.xcodeproj/xcuserdata/Mango.xcuserdatad/xcdebugger
CircularProgressViewSample.xcodeproj/xcuserdata/Mango.xcuserdatad/xcschemes
